<aside class="shadow-2xl border-1 text-[#5C3A21] w-64 h-screen flex flex-col  p-4">
    <div class="">
        <h1 class="text-2xl font-[Playfair_Display] font-semibold"
        >Greatest Music Store
        </h1>
    </div>
    <div class="mt-10">
        <div class="py-2 flex items-center gap-2">
            <ng-icon name="matDashboardOutline" size="26"></ng-icon>
            <a href="/adm/dashboard">Dashboard</a>
        </div>
        <div class="py-2 gap-2 flex items-center">
            <ng-icon name="bootstrapBagFill" size="26"></ng-icon>
            <a href="/adm/products">Produtos</a>
        </div>
        <div class="py-2 gap-2 flex items-center">
            <ng-icon name="matSupervisedUserCircleOutline" size="26"></ng-icon>
            <a href="/adm/users">Users</a>
        </div>
        <div class="py-2 flex gap-2 items-center">
            <ng-icon name="matSpaceDashboardOutline" size="26"></ng-icon>
            <a href="/adm/categories">Categorias</a>
        </div>
        <div class="py-2 flex gap-2 items-center">
            <ng-icon name="matSpaceDashboardOutline" size="26"></ng-icon>
            <a href="/adm/cupom-e-ofertas">Cupom & Ofertas</a>
        </div>
    </div>


    <div class=" flex items-center mt-auto text-[#483928]"> 
        <ng-icon name="matLogoutOutline" size="26"></ng-icon>
        <a href="">Logout</a>
    </div>
</aside>