<header class="flex-col">

  <div class="flex">
    <div class="flex items-center  px-4 gap-4">
      <h1 class="text-3xl font-bold text-[#42240D]">Greatest Music Store</h1>
    </div>
    <div>
      <nav class="flex items-center gap-4 px-4 text-xl mt-8" >
        <ul class="flex gap-x-4 text-[#50443D]">
          <a href="#">Sopros</a>
          <a href="#">Cordas</a>
          <a href="#">Sopros</a>
          <a href="#">Cordas</a>
          <a href="#">Sopros</a>
        </ul>
      </nav>
    </div>
    <div class="flex items-center gap-4 px-4 py-2">
      <div class="dropdown">
        <div tabindex="0" role="" class=" text-xl text-[#50443D]">Categorias</div>
        <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <div class="dropdown dropdown-hover dropdown-right">
            <div tabindex="0" role="button" class="">tipo</div>
            <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm absolute">
              <li><a>Item 1</a></li>
              <li><a>Item 2</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
    <div class="flex-1 p-3 mt-4">
      <input type="text" placeholder="Search for... " class="w-full px-4 py-1 border rounded-md bg-[#FFF1EA] text-[#50443D]">
    </div>
    <div>
      <nav class="gap-4 text-4xl p-6">
        <ul class="flex gap-x-4 text-[#50443D]">
          <li><a href="#"><ng-icon name="tdesignHeart" /></a></li>
          <li><a href="#"><ng-icon name="tdesignCart" /></a></li>
          <li><a href="/login"><ng-icon name="tdesignUserCircle" /></a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>