<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 p-6">
  <div class="bg-white rounded-2xl shadow-xl w-full max-w-5xl p-8">

    <div class="flex items-center justify-between mb-6">
      <h2 class="text-3xl font-bold text-[#5c3a21]">
        Adicionar Produto
      </h2>

      <button class="text-2xl text-gray-500 cursor-pointer hover:text-red-500" (click)="close.emit()">
        ✕
      </button>
    </div>

    <form class="grid grid-cols-[1fr_1.4fr] gap-8" [formGroup]="postForm" (ngSubmit)="postProduct()">

      <div class="space-y-4">
        <div class="w-full h-[420px] bg-[#f8f3ed] rounded-2xl flex items-center justify-center overflow-hidden border">
          @if (imageUrls.at(0).value) {
          <img [src]="imageUrls.at(0).value" class="w-full h-full object-cover" alt="Preview do produto" />
          } @else {
          <p class="text-gray-400 text-center px-6">
            Preview da primeira imagem
          </p>
          }
        </div>
      </div>

      <div class="space-y-4">

        <div formArrayName="imageUrls">
          <label class="block mb-2 font-medium text-[#5c3a21]">
            URLs das imagens
          </label>

          @for (control of imageUrls.controls; track $index) {
          <div class="flex gap-2 mb-2">
            <input type="text" [formControlName]="$index"
              class="w-full rounded-xl border border-gray-300 p-3 outline-none text-[#5c3a21]"
              placeholder="https://..." />

            @if (imageUrls.length > 1) {
            <button type="button" class="px-3 rounded-xl bg-red-100 text-red-700" (click)="removeImage($index)">
              ✕
            </button>
            }
          </div>
          }

          @if (imageUrls.length < 4) { <button type="button"
            class="text-sm px-3 py-2 rounded-lg bg-[#5c3a21] text-white" (click)="addImage()">
            + Adicionar imagem
            </button>
            }
        </div>
        <label class="block mb-2 font-medium text-[#5c3a21]">
            Nome do Produto
          </label>
        <input formControlName="name" type="text" class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3"
          placeholder="Nome do produto" />

        <div class="grid grid-cols-2 gap-4">
          <div>
          <label class="block mb-2 font-medium text-[#5c3a21]">Marca</label>
          <input formControlName="brand" type="text" class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3"
            placeholder="Marca" />

          </div>
          <div>
            <label class="block mb-2 font-medium text-[#5c3a21]">Preço</label>
            <input formControlName="price" type="number"
            class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3" placeholder="Preço" />
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block mb-2 font-medium text-[#5c3a21]">Quantidade</label>
            <input formControlName="quantity" type="number"
              class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3" placeholder="Quantidade" />
          </div>

          <div>
            <label class="block mb-2 font-medium text-[#5c3a21]">Desconto (%)</label>
            <input formControlName="discountPercentage" type="number"
            class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3" placeholder="Desconto %" />
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <select formControlName="categoryID"
            class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3 bg-white">

            <option value="">Selecione...</option>

            @for (category of categories(); track category.id) {
            <option [value]="category.id">
              {{ category.name }}
            </option>
            }

          </select>

          <select formControlName="subCategoryId"
            class="w-full rounded-xl border text-[#5c3a21] border-gray-300 p-3 bg-white">

            <option value="">CATEGORIA ANTES</option>

            @for (sub of subcategories(); track sub.id) {
            <option [value]="sub.id">
              {{ sub.name }}
            </option>
            }
          </select>
        </div>

        <textarea rows="3" formControlName="description"
          class="w-full rounded-xl border border-gray-300 p-3 text-[#5c3a21] resize-none"
          placeholder="Descrição do produto...">
        </textarea>

        <div class="flex justify-end gap-4 pt-4">
          <button type="button" class="px-6 py-3 rounded-xl bg-amber-600 hover:bg-amber-700" (click)="close.emit()">
            Cancelar
          </button>

          <button type="submit"
            class="px-6 py-3 rounded-xl bg-[#5c3a21] text-white hover:bg-amber-700 disabled:opacity-50"
            [disabled]="postForm.invalid">
            Salvar Produto
          </button>
        </div>

      </div>
    </form>
  </div>
</div>