<section class="w-full px-4 py-4 sm:px-8 lg:px-16">
    <p-carousel
        [value]="products()"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product #item>
            <article class="mx-2 flex h-105 flex-col rounded-lg border border-[#E7D8C7] bg-white p-4 shadow-sm">
                <a
                    [routerLink]="['/produto', product.productId]"
                    [state]="{ product: product }"
                    class="flex h-56 w-full shrink-0 items-center justify-center rounded-md bg-[#FFF9F4]">
                    @if (mainImage(product)) {
                    <img
                        [src]="mainImage(product)"
                        [alt]="product.name"
                        class="h-48 w-full object-contain" />
                    } @else {
                    <span class="px-4 text-center font-[Montserrat] text-sm font-semibold text-[#7B5900]">
                        imagem
                    </span>
                    }
                </a>

                <div class="mt-4 flex min-h-0 flex-1 flex-col">
                    <p class="font-[Montserrat] text-sm font-semibold uppercase tracking-wide text-[#7B5900]">
                        {{ product.brand }}
                    </p>
                    <a
                        [routerLink]="['/produto', product.productId]"
                        [state]="{ product: product }"
                        class="mt-1 line-clamp-2 min-h-14 font-[Montserrat] text-xl  font-semibold text-[#42240D]">
                        {{ product.name }}
                        <div class="flex itens-center py-1">
                        @if (product.rating <= 1) {
                                <span class="text-yellow-500">★</span>
                                <span class="text-base">N/A</span>
                            }
                            @else {
                                <span class="text-yellow-500">★</span>
                                <span class="text-base">{{ product.rating }}</span>
                            }
                        </div>
                    </a>
                    

                    <div class="mt-auto flex items-center justify-between gap-3 pt-4">
                        <p class="font-[Montserrat] text-xl font-extrabold text-[#42240D]">
                             {{ product.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        </p>
                        <div class="flex shrink-0 items-center gap-2">
                            <app-favorite-button [productId]="product.productId"></app-favorite-button>
                            <app-cart-button [productId]="product.productId"></app-cart-button>
                        </div>
                    </div>
                </div>
            </article>
        </ng-template>
    </p-carousel>
</section>
