<div class="card">
    <div class="border border-surface rounded-border m-2 p-4">

        <div class="mb-4">
            <div class="relative mx-auto">
                <div class="card">
                    <p-carousel [value]="products()" [numVisible]="3" [numScroll]="3" [circular]="true"
                        [responsiveOptions]="responsiveOptions">
                        <ng-template let-product #item>
                            <div class="border border-surface rounded-border m-2 p-4">
                                <div class="mb-4">
                                    <div class="relative mx-auto">
                                        <img src=" {{ product.imageUrl[0] }} "
                                            [alt]="product.name" class="w-full rounded-border" />
                                        <p-tag [value]="product.inventoryStatus"
                                            [severity]="getSeverity(product.inventoryStatus)"
                                            class="absolute dark:!bg-surface-900"
                                            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                                    </div>
                                </div>
                                <div class="mb-4 font-medium"> {{ product.name }} </div>
                                <div class="flex justify-between items-center">
                                    <div class="mt-0 font-semibold text-xl"> {{ product.price }} </div>
                                    <span>
                                        <app-favorite-button></app-favorite-button>
                                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
</div>